In [9]:
from datetime import time
def solution(n, t, m, timetable):
    time_list = [ int(time[:2])*60 + int(time[3:5]) for time in timetable ]
    time_list.sort()
    
    last_time = 540 + (n - 1) * t
    q, r = divmod(last_time, 60)
    for i in range(n-1):
        shuttle_arrive = 540 + i * t
        for i in range(m):
            if time_list:
                if time_list[0] <= shuttle_arrive:
                    time_list.pop(0)
                else:
                    break
            else:
                return str(time(q, r))[:5]
    
    if len(time_list) < m:
        return str(time(q, r))[:5]
        # return '%02d:%02d' % (last_time // 60, last_time % 60)

    if time_list[0] > last_time:
        return str(time(q, r))[:5]
    conn_time = time_list[m - 1] - 1
    q, r = divmod(conn_time, 60)
    return str(time(q, r))[:5]

In [10]:
# n : 운행횟수, t : 운행간격, m : 셔틀당 최대인원
n = 1
t = 1
m = 5
timetable = ['08:00', '08:01', '08:02', '08:03']
solution(n, t, m, timetable)

'09:00'

In [11]:
n = 2
t = 10
m = 2
timetable = ["09:10", "09:09", "08:00"]
solution(n, t, m, timetable)

'09:09'